@charset "UTF-8";

body { /* selector로 body태그에 적용 */
	background-color : linen; /* 배경색 */
	color : blueviolet; /* 글자색 */
	margin-left : 30px; /* 왼쪽 외부 여백*/
	margin-right : 30px; /* 오른쪽 외부 여백 */
}
h3 {
	text-align : center; /* 문자열 정렬 */
	color : darkred; /* body의 color와 중첩되나 cascading에 의해 자식인 자기의 색으로 적용 */
}